#Data Analysis

Numpy, Scipy, Matplotlib and Pandas are your goto libraries for data analysis

In [1]:
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import pandas as pd

You can use IPython to poke around your operating system. I use this here to find the correct data file to import.

In [2]:
!ls

Canonical Nuclear Analysis.ipynb
CountingData.csv
Experimental Method and Results on Counting Nuclear Decay of Cesium.pdf
Nuclear Decay data analysis.ipynb
Untitled.ipynb

In [24]:
data = pd.read_csv("CountingData.csv"); data.head()

,time(s),#counted,Unnamed: 2,times(s),#counted_sample,Unnamed: 5,#sample-background
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.3,5,NaN,10.0,316,NaN,311
2,9.7,5,NaN,10.2,289,NaN,284
3,10.2,4,NaN,9.9,309,NaN,305
4,9.8,5,NaN,10.1,312,NaN,307

In [25]:
data.tail()

,time(s),#counted,Unnamed: 2,times(s),#counted_sample,Unnamed: 5,#sample-background
198,9.500000,1,NaN,10.000000,309,NaN,308
199,10.800000,3,NaN,9.800000,269,NaN,266
200,10.100000,1,NaN,10.100000,303,NaN,302
201,NaN,NaN,NaN,9.995000,NaN,NaN,NaN
202,0.266592,NaN,NaN,0.133657,NaN,NaN,NaN

Trim and label your data for ease of use. Have Ipython display the limits of the DataFrame to check for strange values.

In [15]:
background = data.iloc[1:201, :2];
background.columns = ['time', 'counts']
sample = data.iloc[1:201, 3:5]
sample.columns = ['time', 'counts']
background.head()

     time  counts
196   9.9       1
197  10.1       4
198   9.5       1
199  10.8       3
200  10.1       1

In [16]:
background.tail()

     time  counts
196   9.9       1
197  10.1       4
198   9.5       1
199  10.8       3
200  10.1       1

In [17]:
sample.head()

   time  counts
1  10.0     316
2  10.2     289
3   9.9     309
4  10.1     312
5   9.9     257

In [18]:
sample.tail()

     time  counts
196  10.1     290
197  10.1     274
198  10.0     309
199   9.8     269
200  10.1     303

Pandas helps you quickly convert data to parameters with groupby. Here I create a new DataFrame with number of counts as the column. I'll focus on the background data for now.

DataFrames can implicitly create new columns just by referencing them. I this here with column totalCounts.

In [20]:
background_counts = pd.DataFrame()
background_counts['totalCounts'] = background.groupby('counts').size()

For an experiment with discrete outcomes, you expect the error of each possible value to be poissonian. This means that if you ran

I'll divide these counts by the total to get frequencies. This will enable me to fit normalized distributions. I could also multiply my functions by the total, but in this case it seems more natural to modify the data.

In [23]:
N = background_counts.totalCounts.sum();
background_counts['frequency'] = background_counts.totalCounts.div(N);
background_counts.frequency.head()

counts
0    0.020
1    0.130
2    0.160
3    0.185
4    0.205
Name: frequency, dtype: float64